body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:659px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:43px;
  width:122px;
  height:69px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:155px;
  width:122px;
  height:69px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:155px;
  width:122px;
  height:69px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:112px;
  width:0px;
  height:0px;
}
#u5_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u5_seg1 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:24px;
  width:108px;
  height:8px;
}
#u5_seg2 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:24px;
  width:8px;
  height:19px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:112px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:24px;
  width:110px;
  height:8px;
}
#u6_seg2 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:24px;
  width:8px;
  height:19px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:272px;
  width:122px;
  height:69px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:272px;
  width:122px;
  height:69px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:224px;
  width:0px;
  height:0px;
}
#u9_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u9_seg1 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:32px;
  width:102px;
  height:8px;
}
#u9_seg2 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:32px;
  width:8px;
  height:16px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:224px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u10_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:32px;
  width:102px;
  height:8px;
}
#u10_seg2 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:32px;
  width:8px;
  height:16px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:523px;
  width:122px;
  height:69px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:523px;
  width:122px;
  height:69px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:396px;
  width:122px;
  height:69px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:341px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:465px;
  width:0px;
  height:0px;
}
#u15_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u15_seg1 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:41px;
  width:102px;
  height:8px;
}
#u15_seg2 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:41px;
  width:8px;
  height:17px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:465px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:41px;
  width:102px;
  height:8px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:41px;
  width:8px;
  height:17px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:272px;
  width:122px;
  height:69px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:224px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:32px;
  width:133px;
  height:8px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:32px;
  width:8px;
  height:16px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
